.commentMenu
{
	margin-bottom: 24px;
}

.comment
{
 	background: #EDF5F7;
	border: 1px solid #d2d2d2;
	margin-bottom: 24px;
}

.commentHeader
{
	background: #2D659A;
	color: white;
	margin: 0px;
	padding: 5px 15px 5px 15px;
}

.commentContent
{
	padding: 15px 20px 0px 10px;
}

.commentlist
{
	list-style-type: none;
}

.commentlist ul
{
}

.commentlist li,
{
	display: inline;
}

.commentTimestamp
{
	display: inline;
}

.commentbutton
{
	color: white;
	background: #2D659A;
	border: 0px;
	padding: 5px 10px;
	.border-radius(@radius:25px);
	text-decoration: none;
	margin: 0px;
}

.commentbutton:hover
{
	text-decoration: underline;
}