.fa-check-circle-o {
    font-size: 2em;
    color: green;
}

.fa-times-circle {
    font-size: 2em;
    color: red;
}

.fa-check {
    font-size: 2em;
    color: green;
}

.fa-times {
    font-size: 2em;
    color: #c50000;
}

.fa-chevron-down,
.fa-chevron-up {
    margin: 0;
    padding: 0;
    color: #365D8C;
}

.fa-chevron-up {
    font-size: 2em;
}

.fa-chevron-down {
    font-size: 2em;
}

.chevFontSize {
    font-size: 1em;
}
