/*
* ---------------- Questions menu ----------------
* Style for the tiny overall questions menu.
*/
.div-menu-questions
{
	clear: both;
}

table.menu-questions
{
	width: 100%;
}

table.menu-questions,
.menu-questions th, {
    border-bottom: 1px solid black;
}

.menu-table-header
{
	text-align: left;
}

.menu-headers-data
{
	padding:0px 10px 0px 10px;
}

.menu-data
{
	padding: 10px;
}

.menu-user
{
	padding: 0px;
	margin: 0px;
}



/*
* ---------------- Single question menu ----------------
* Style for the expanded view of ONE question.
*/
.div-element {
	margin-bottom: 72px;
}

/*table, tr, td 
{
	border: solid 2px black;
}*/

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear:both;
}

.width100 {
	width: 100%;
}

.width45 {
	width: 45%;
	float: left;
}

.width60 {
	width: 60%;
	float: left;
}

.paddingLeft {
	padding-left: 15px;
}

.paddingLeft45 {
	padding-left: 45px;
}

.nodecoration,
.addtag {
	text-decoration: none;
	font-weight: bold;
	color: #365D8C;
}

.addtag {
	padding-right: 25px;
}

.nodecoration:hover,
.addtag:hover {
	text-decoration: underline;
}

.question-rating-data {
	padding-top: 0px;
	padding-right: 10px;
	margin-top: 0px;
	width: 50px;
	text-align: center;
}

.question-rating {
	margin: 0px;
	padding: 0px;
	vertical-align:top;
}

.question-content, 
.question-comment {
	padding-left: 10px;
	padding-right: 10px;
}

.question-content p {
	min-height: 120px;
}

.question-signature {
	float: right;
}

.question-comment {
	border-top: 1px solid black;
}

.question-comment p {
	padding: 5px;
	margin-bottom: 12px;
}

.answer-header {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.answer-hr,
.question-hr {
	margin-top: 0px;
	margin-bottom: 24px;
}

.question-comment-header,
.answer-comment-header {
	padding: 0px;
	margin: 0px;
	margin-top: 12px;
	color: #365D8C;
}

.tag,
.tag-list
{
	text-decoration: none;
	background-color: #365D8C;
	color: white;
	padding: 5px;
	margin: 10px;
}

.tag-list 
{
	display: inline;
	padding: 15px;
}

.homeHeader
{
	padding-top:24px;
}

.homeName {
	margin: 0px;
}

.homePadding
{
	padding-right: 25px;
}

.homeData
{
	padding: 10px;
}

.homeUsers {
	margin-left: 85px;
}




